* {
    font-family: montserrat, Sans-serif;
}

.background-default{
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:cover;
}
.background-default.banner1{
    background-color: #121212;
    background-image: url('../../assets/background01.webp');
}
.background-default.banner2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/banner3.webp');
}
.background-default.banner3{
    background-color: black;
}
.inputs-bods {
    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-radius: 4px;
    box-shadow: none !important;
    font-weight: 500;
}

.inputs-bods:focus {
  outline: none;
  box-shadow: none;
}

.show-element {
    display: none;
}

.mt-neg-5 {
    margin-top: -5%;
}

.mt-neg-10 {
    margin-top: -10%;
}

.mt-neg-15 {
    margin-top: -15%;
}

.mt-neg-20 {
    margin-top: -20%;
}

.mt-neg-30 {
    margin-top: -30%;
}

.mt-neg-34 {
    margin-top: -34%;
}

.transform-image {
    transform: scale(1.05);
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.card-w-background {
    border-style: none;
    border-radius: 0%;
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:cover;
}

.card-w-background.banner1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/mindMap.webp');
}

.card-w-background.banner2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/growthWallpaper.webp');
}

.card-w-background.banner3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/consultoria.webp');
}

.transparent-background {
    border-radius: 0%;
    width: 97%;
    left: 1.5%;
    height: 94% !important;
    background-color: transparent !important;
}

hr:not([size]) {
    color: white;
    height: 1.5px;
    opacity: 1;
}

.img-card {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-card.size-iconAlert {
    height: 5.2rem;
    width: 6.2rem;
}

.img-card.size-1 {
    height: 5.8rem;
    width: 5.8rem;
}

.img-card.size-2 {
    top: -8%;
    height: 7.5rem;
    width: 7.5rem;
}

/* SVG 1 */

.elementor-shape-top svg.svg-1 {
    height: 47px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-shape svg.svg-1 {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
}

.elementor-shape-top .svg-1 .elementor-shape-fill {
    fill: #FFFFFF;
}
.elementor-shape .svg-1 .elementor-shape-fill {
    transform-origin: center;
    transform: rotateY(0deg);
}


/* SVG 2 */

.elementor-shape-top svg.svg-2 {
    margin-top: -0.8%;
    width: calc(100% + 1.3px);
    height: 65px;
}

.elementor-shape svg.svg-2 {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.elementor-shape-top .svg-2 .elementor-shape-fill {
    fill: #000000;
}
.elementor-shape .svg-2 .elementor-shape-fill {
    transform-origin: center;
    transform: rotateY(0deg);
}


/* SVG 3 */

.elementor-shape svg.svg-3{
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.elementor-shape .svg-3 .elementor-shape-fill {
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/* CLASS WPP BUTTON */
.float-element{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.float-element:hover {
    transform: scale(1.05);
    color: white;
}

.my-float{
	margin-top:16px;
}

/* RESPONSIVIDADE */

@media (max-width: 765px) {
    /* .background-default.banner1{
        background-image: none;
        background-color: black;
    }
    .background-default.banner2{
        background-image: none;
        background-color: black;
    }
    .background-default.banner3{
        background-image: none;
        background-color: black;
    } */
    .atuacao-resp {
        margin-top: -20%;
    }
    .show-element {
        display: block;
    }
    .hide-element {
        display: none;
    }
    .carousel-item {
        height: 515px !important;
    }
    .carousel-item img {
        background: no-repeat 50%;
        background-size: cover;
        height: 100%;
        width: 100% !important;
        position: relative;
    }
    .f-size-1-1 {
        font-size: 1em;
    }
    .f-size-1-3 {
        font-size: 1em;
    }
    .f-size-1-7 {
        font-size: 1.2em;
    }
    .f-size-2-4 {
        font-size: 1.7em;
    }
    .f-size-2-7 {
        font-size: 1.8em;
    }
    .f-size-3 {
        font-size: 1.7em;
    }
    .f-size-3-2 {
        font-size: 1.55em;
    }
}

/* TRANSITIONS */

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromDown {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes growItem {
    0% {
      transform: scale(0.4);
    }
    100% {
      transform: scale(1);
    }
}

.transition-slide-right {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.transition-slide-left {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
  
.transition-down-up {
    animation: 1s ease-out 0s 1 slideInFromDown;
}

.transition-grow {
    animation: 1s ease-out 0s 1 growItem;
}